.funText{
	color:white;
	font-family: 'Just Another Hand', cursive;
	font-size: 48px/90px;
}
.funBody{
	color: white;
	font-family: 'Muli', sans-serif;
	font-size: 24px/45px
}
.box{
    width: 400px;
    border: 25px solid black;
    padding: 25px;
    margin: 70px auto;
    background-color: rgba(0,0,0,0.5);
}
.orange{
	background-image: url("orange.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
.box2{
	width: 600px;
    padding: 15px;
    margin: 100px auto;
    background-color: rgba(0,0,0,0.5);
}
.robinImage{
	position: static; 
	width: 100%;
	margin-left: 175px
}
.fruits{
	background-image: url("fruits.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
.funBody2{
	color: white;
	font-family: 'Muli', sans-serif;
	font-size: 30px/65px;
}
.greenBox{
	width: 250px;
    padding: 15px;
    margin: 50px 300px;
    background-color: rgba(127,191,63,0.5);
    text-align: center;
}
.yellow{
	background-image: url("yellow2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.box3{
	width: 650px;
    padding: 15px;
    margin-left: 100px;
    margin-top: 50px;
    background-color: rgba(63,84,191,0.18);
}
.box4{
	width: 250px;
    padding: 15px;
    margin: 15px auto;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    display: block;
}
.blue{
	background-image: url("blue.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
.bigText{
	color: white;
	font-size: 100px;
	font-family: 'Archivo', sans-serif;
	text-align: center;
}
.lightI{
	background-image: url("final.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
.box5{
    width: 250px;
    border: 5px solid black;
    padding: 25px;
    margin: 70px auto;
}
.bigTextShad{
	color:white;
	font-size: 100px;
	font-family: 'Archivo', sans-serif;
	font:underline;
	text-align: center;
	text-shadow: 4px 4px 4px #F0F8FF;


}
.cloth{
	background-image: url("cloth.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
.funBody3{
	color: white;
	font-family: 'Muli', sans-serif;
	font-size: 30px/65px;
	text-align:center;
}
.bigText2{
	color: black;
	font-size: 100px;
	font-family: 'Archivo', sans-serif;
	text-align: center;
}
.box7{
	width: 400px;
    padding: 15px;
    margin: 15px auto;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    display: block;